.progress-container {
  width: 100%;
  background-color: #141021;
  border-radius: 8px;
}

.progress-bar {
  width: 40%; 
  height: 30px;
  background-color: #ff4343;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 8px;
}

.Background{
    
}